# Tuple

In [1]:
mytuple=()

In [2]:
mytuple

()

In [3]:
mytuple=(1,2,3,45,45,6,7)

In [4]:
mytuple

(1, 2, 3, 45, 45, 6, 7)

In [5]:
mytuple=(1,"preeti",10.7,True,2+3j)

In [6]:
mytuple

(1, 'preeti', 10.7, True, (2+3j))

In [7]:
type(mytuple)

tuple

In [8]:
mytuple=(10)

In [9]:
mytuple

10

In [10]:
type(mytuple)

int

In [11]:
mytuple2=(10,)

In [12]:
mytuple2

(10,)

In [13]:
type(mytuple2)

tuple

In [14]:
mytuple3=('preeti',)

In [15]:
mytuple3

('preeti',)

In [16]:
type(mytuple3)

tuple

# concept of packing and unpacking

In [17]:
a=1,2,3,4

In [18]:
a

(1, 2, 3, 4)

In [19]:
x,y,z,p=a

In [20]:
x

1

In [21]:
y

2

In [22]:
z

3

In [23]:
p

4

In [24]:
a=[1,2,3,4,5]

In [25]:
x,y,z,p=a

ValueError: too many values to unpack (expected 4)

In [ ]:
x,y,z,p,h=a

In [ ]:
x

In [ ]:
y

In [ ]:
z

In [ ]:
h

In [ ]:
p

In [ ]:
mytuple=(1,2,43,54,657,67,4,46,567,6)

In [ ]:
print(mytuple)

In [ ]:
mytuple[5]

In [ ]:
mytuple[2:5]

In [ ]:
mytuple[-5]

In [ ]:
mynums=(10,20,30,40,50)
print(mynums[1:4])

In [2]:
mynums=(10,20,30,40,50)
print(mynums[ :-2])

(10, 20, 30)

In [29]:
mynums=(10,20,30, 40,50)
print(mynums[4:1:-1])

(50, 40, 30)

In [ ]:
mytuple

In [ ]:
mytuple[3]

In [ ]:
mytuple[3]=100

In [ ]:
mynums=([1,2],3,4,5,66,7)

In [ ]:
mynums[0][1]=100

In [ ]:
mynums

In [ ]:
mytuple=(100,200,300,400,500)

In [ ]:
mytuple=(1,2,3,4,5)

In [ ]:
mytuple

In [ ]:
del(mytuple[3])

In [ ]:
del(mytuple)

In [ ]:
mytuple

# function in tuple
# len()

# max()

# min()

# sum()

# sorted()

# any()

# all()

# tuple()

In [3]:
mytuple=(1,3,454,56,8,78,45,7,87)

In [4]:
len(mytuple)

9

In [5]:
max(mytuple)

454

In [6]:
min(mytuple)

1

In [7]:
sum(mytuple)

739

In [8]:
any(mytuple)

True

In [9]:
all(mytuple)

True

In [10]:
sorted(mytuple)

[1, 3, 7, 8, 45, 56, 78, 87, 454]

In [11]:
sorted(mytuple,reverse=True)

[454, 87, 78, 56, 45, 8, 7, 3, 1]

In [12]:
tuple('preeti')

('p', 'r', 'e', 'e', 't', 'i')

In [13]:
tuple([1,2,3,45,6,7,4,4])

(1, 2, 3, 45, 6, 7, 4, 4)

In [ ]:
iterable: iterable is a object on top that we can iterate 
1 list
2. tuple
3. string
4. set
5. range

In [ ]:
methods for tuple
1. append()# it won't work
2. extend()# it won't work
3. insert()# it won't work
4. count()#work
5. index()#work
6. clear()# it won't work
7. pop()# it won't work
8. remove()# it won't work
8. sort() # it won't work
9. reverse() # it won't work

In [14]:
mytuple=(1,2,3,4,5)

In [15]:
mytuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
mytuple.extend(4)

AttributeError: 'tuple' object has no attribute 'extend'

In [17]:
mytuple.index(3)

2

In [18]:
mytuple.insert(2,'34')

AttributeError: 'tuple' object has no attribute 'insert'

In [19]:
mytuple.count(2)

1

In [20]:
mytuple.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [21]:
mytuple.pop(2)

AttributeError: 'tuple' object has no attribute 'pop'

In [22]:
mytuple.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [23]:
mytuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [24]:
mytuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

# member ship operator in and not in works with tuple

In [25]:
my_tuple=("a","e","i","o","u")

In [26]:
'a' in my_tuple

True

In [27]:
'p' not in my_tuple

True

# concatenation

In [28]:
odd=(1,3,5)
even=(2,4,6)

In [29]:
id(odd)

139686430349056

In [30]:
id(even)

139686296885760

In [31]:
id(odd+even)

139685883365216

In [32]:
all=odd+even

In [33]:
all

(1, 3, 5, 2, 4, 6)

# multiplication of elt

In [34]:
a=(10,20,30)

In [35]:
id(a)

139686297076480

In [36]:
id(a*2)

139686296862976

# relational operators

In [37]:
a=(4,5,6)
b=(4,5,6)

In [38]:
a<b

False

# set
1. we can not keep duplicate value
2. we can not use subscript operator(we can not do indexing as well as slicing)
3. set is unordered collection

In [ ]:
mylist=[1,2,3,4,5]#access element with index this is possible
mytuple=(1,2,3,4,5)#access element with index this is possible
myset={1,2,3,4,5}#we can not access element with index in set

In [39]:
myset={1,2,3,4,56,4,3,67,56}

In [40]:
myset

{1, 2, 3, 4, 56, 67}

In [41]:
myset[0]

TypeError: 'set' object is not subscriptable

In [42]:
myset={1,"hello",10.5}

In [43]:
myset

{1, 10.5, 'hello'}

# i can pass any iterable to this set funciton set()

In [44]:
set([1,2,3,4,5,6])

{1, 2, 3, 4, 5, 6}

In [45]:
set((1,2,3,4,5,3,4,57,3))

{1, 2, 3, 4, 5, 57}

# if i want to add something in set there is a function add()

In [46]:
myset.add(10000)

In [47]:
myset

{1, 10.5, 10000, 'hello'}

# clear()

In [48]:
myset.clear()

In [49]:
myset

set()

# pop()

In [50]:
myset={1, 10.5, 10000, 'hello'}

In [51]:
myset.pop()

10000

# This method is different from the discard() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [52]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

In [53]:
fruits.discard("peru")  # did not raised error
fruits

{'apple', 'cherry'}

# update()
# The update() method updates the current set, by adding items from another set (or any other iterable).
# If an item is present in both sets, only one appearance of this item will be present in the updated set.

In [54]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'microsoft', 'cherry', 'google', 'apple', 'banana'}

# copy()

In [55]:
myset={1,234,46,67,6,465,68,8}

In [56]:
myset.copy()

{1, 6, 8, 46, 67, 68, 234, 465}

In [57]:
myset

{1, 6, 8, 46, 67, 68, 234, 465}

# pop()

In [58]:
myset.pop()

1

In [59]:
myset

{6, 8, 46, 67, 68, 234, 465}

In [60]:
myset.pop()

67

In [61]:
myset

{6, 8, 46, 68, 234, 465}

# remove()

In [63]:
myset.remove(8)

In [64]:
myset

{6, 46, 68, 234, 465}

# union()

# Return a set that contains all items from both sets, duplicates are excluded

In [65]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'microsoft', 'cherry', 'google', 'apple', 'banana'}

In [66]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'a', 'd', 'c', 'b', 'e', 'f'}

# difference()
# Return a set that contains the items that only exist in set x, and not in set y

In [69]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

# difference_update()
# The difference_update() method removes the items that exist in both sets.
# The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

In [70]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

# intersection()
# Return a set that contains the items that exist in both set x, and set y

In [71]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [72]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

# intersection_update()
# Remove the items that is not present in both x and y

# The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

In [73]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

# symmetric_difference()
# Return a set that contains all items from both sets, except items that are present in both sets

In [74]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'google', 'banana', 'microsoft'}

# symmetric_difference_update()
# Remove the items that are present in both sets, AND insert the items that is not present in both sets:

In [75]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'banana', 'microsoft'}

# isdisjoint()
# Return True if no items in set x is present in set y

In [76]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [77]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

# issubset()
# Return True if all items in set x are present in set y

In [78]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [79]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

# issuperset()
# Return True if all items set y are present in set x

In [80]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True