# List

In [1]:
mylist=[]  #empty list

In [2]:
mylist

[]

In [3]:
mylist=[1,2,3,4,5]   #homogenous list--similar datatypes
mylist

[1, 2, 3, 4, 5]

In [4]:
mylist=[1,'hello',34.5]       #heterogenous list ---difft dtypes
mylist

[1, 'hello', 34.5]

In [5]:
list() # is a function accepts collection of data

[]

In [6]:
#iterable
list(10)

TypeError: 'int' object is not iterable

In [7]:
list('preeti')

['p', 'r', 'e', 'e', 't', 'i']

In [8]:
list([1,2,3])

[1, 2, 3]

In [9]:
list((1,2,3))

[1, 2, 3]

# access elt of list

In [1]:
mylist=[1,2,3,4,5]
mylist[3]

4

In [13]:
mylist[-1]

5

In [15]:
mylist[:]

[1, 2, 3, 4, 5]

In [2]:
mylist[1:3]

[2, 3]

In [12]:
mynum=[10,20,30,40,50]
mynum[1:4]

[20, 30, 40]

In [13]:
mynum[3:5]

[40, 50]

In [14]:
mynum[2:2]

[]

In [15]:
mynum[1:]

[20, 30, 40, 50]

In [16]:
mynum[:-2]

[10, 20, 30]

# Modying element in list

In [18]:
sports=['cricket','hockey','football']
sports[1]='Badminton'

In [20]:
sports

['cricket', 'Badminton', 'football']

# slicing operator for multiple value

In [23]:
sports[1:3]=['basketball','tennis']

In [24]:
sports

['cricket', 'basketball', 'tennis']

In [25]:
outdoorgames=['cricket', 'basketball', 'tennis']

In [26]:
indoorgames=['carrom','chess','ludo']

In [27]:
#concatenate strings
allsports=outdoorgames+indoorgames
allsports

['cricket', 'basketball', 'tennis', 'carrom', 'chess', 'ludo']

In [29]:
team=['preeti','rishi','roy']

In [30]:
team +'sahil'

TypeError: can only concatenate list (not "str") to list

In [32]:
team + list('sahil')

['preeti', 'rishi', 'roy', 's', 'a', 'h', 'i', 'l']

In [33]:
team +list(['sahil'])

['preeti', 'rishi', 'roy', 'sahil']

In [36]:
team1= team + list(['sahil'])
team1

['preeti', 'rishi', 'roy', 'sahil']

In [37]:
team1 + ['chiku']

['preeti', 'rishi', 'roy', 'sahil', 'chiku']

In [38]:
team1*2

['preeti', 'rishi', 'roy', 'sahil', 'preeti', 'rishi', 'roy', 'sahil']

# membership opertor in and not in

In [40]:
'preeti' in team

True

In [41]:
'rohit' in team

False

In [42]:
'P' in 'preeti'

False

# List Functions
1. len()
2. max()
3. min()
4. sum()
5. sorted()
6. any()
7. all()
8. list()

# List Methods
1. append()
2. extend()
3. insert()
4. index()
5. count()
6. remove()
7. pop()
8. clear()
9. reverse()
10. sort()

In [3]:
mynums=[1,2,3,4,5,6,67,8]

In [4]:
mynums

[1, 2, 3, 4, 5, 6, 67, 8]

In [106]:
len(mynums)  # len() funtion gives length of list ie. no of elts in list

8

In [107]:
max(mynums)

67

In [108]:
min(mynums)

1

In [5]:
sum(mynums)

96

# sorted()

 # The sorted() function allows you to display your list in a particular order, without affecting the actual order of the list. Temporary

In [45]:
sorted(mynums)    #arrange num of elts in list in ascending order

[1, 2, 3, 4, 5, 6, 8, 67]

In [46]:
sorted(mynums,reverse=True)

[67, 8, 6, 5, 4, 3, 2, 1]

In [223]:
Students = ['Harsh', 'Andrew', 'Danny']
print(sorted(Students))
print(Students)

['Andrew', 'Danny', 'Harsh']
['Harsh', 'Andrew', 'Danny']

# if all elts is true in list it will give true else false

# 0, 0.0. False,0+0j this values will be false in python and rest of the value apart from this one will be true

In [47]:
mynums2=[0,1,2,3,4,45456,66,6]

In [48]:
all(mynums2)  #if any 0 elt then false

False

In [58]:
any(mynums)    #if any 0 elt then also true for any()

True

In [51]:
any(mynums2)

True

In [59]:
mynums3=[0,False,0.0,0+0j]

In [61]:
any(mynums3)

False

# List Methods

In [62]:
primes=[2,3,5,7,11]

In [63]:
len(primes)

5

In [64]:
primes.append(13)

In [65]:
primes

[2, 3, 5, 7, 11, 13]

In [79]:
animal=['dog','cat','rabbit']

In [67]:
animal.append('tiger')

In [68]:
animal

['dog', 'cat', 'rabbit', 'tiger']

In [135]:
animal=['dog','cat','rabbit']

In [136]:
wild_animal=["lion","fox"]

In [137]:
animal.append(wild_animal)

In [138]:
animal

['dog', 'cat', 'rabbit', ['lion', 'fox']]

In [139]:
animal.extend(wild_animal)

In [140]:
animal

['dog', 'cat', 'rabbit', ['lion', 'fox'], 'lion', 'fox']

In [142]:
animal[3]

['lion', 'fox']

In [144]:
animal[3][0]

'lion'

In [145]:
animal[3][0][1]

'i'

In [168]:
mynums=[1,2,34,5,546,56,6576,767,76]

In [169]:
mynums.append(1000)

In [170]:
mynums

[1, 2, 34, 5, 546, 56, 6576, 767, 76, 1000]

In [171]:
mynums.extend('2000')

In [172]:
mynums

[1, 2, 34, 5, 546, 56, 6576, 767, 76, 1000, '2', '0', '0', '0']

In [173]:
mynums.extend([2000])

In [174]:
mynums

[1, 2, 34, 5, 546, 56, 6576, 767, 76, 1000, '2', '0', '0', '0', 2000]

# modifying the list(it is going to overwrite)

In [177]:
primes=[2,3,5,7,11]

In [178]:
primes[3]=9
primes

[2, 3, 5, 9, 11]

# insert(index,value)
# not overwrite only insert at the given index

In [179]:
primes.insert(3,1000)   #insert(index,values)

In [180]:
primes

[2, 3, 5, 1000, 9, 11]

# Count  -- no of times elt is present in list

In [184]:
mynums

[1, 2, 34, 5, 546, 56, 6576, 767, 76, 1000, '2', '0', '0', '0', 2000]

In [185]:
mynums.count("2") # "2" is a string in list ie,'2'

1

# index

In [187]:
mynums.index(5)  # at what position 5 no. is present ie index of given elt

3

In [188]:
mynums.index(2000)

14

In [190]:
len(mynums)-1

14

# remove() -- it searches and removes the first meeting elt

In [191]:
vowels=['a','e','i','o','u']

In [192]:
vowels.remove('a')

In [193]:
vowels

['e', 'i', 'o', 'u']

In [194]:
vowels=['a','a','e','i','o','u']

In [195]:
vowels.remove('a')

In [196]:
vowels

['a', 'e', 'i', 'o', 'u']

# pop

# removes and return an elt at given index

# pop method takes index and remove it from the list and return that element

In [197]:
fruits=['apple','banana','orange']

In [198]:
fruits.pop(1)

'banana'

In [199]:
fruits

['apple', 'orange']

In [200]:
fruits.pop(2)

IndexError: pop index out of range

In [201]:
fruits.clear()  # empty list

In [202]:
fruits

[]

# sort() method

# it is going to sort in ascending as well as descending

# One more important thing to remember here is that sort() method changes the order of the list permanently. If you want to change the order of the list temporarily, then you need to use sorted() function.

In [203]:
mylist=[233,3456,346,576,76578,5678,5,34,6556,546]

In [204]:
mylist.sort()

In [205]:
mylist

[5, 34, 233, 346, 546, 576, 3456, 5678, 6556, 76578]

In [206]:
mylist.sort(reverse=True)

In [207]:
mylist

[76578, 6556, 5678, 3456, 576, 546, 346, 233, 34, 5]

# reverse

# it is going to reverse the element

# reverse() method reverses the sequence of the list permanently. Hence in order to get back to the original sequence of the list apply the reverse() method again to the same list.

In [222]:
Students = ['Harsh', 'Andrew', 'Danny']
Students.reverse()
print(Students)

['Danny', 'Andrew', 'Harsh']

# Python Copy List
# In order to copy a list, you can make a slice that includes the complete original list by omitting the first index and the second index ([:]). This, in turn, will tell Python to make a slice that starts at the first item and ends with the last item, by producing a copy of the entire list.

In [225]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

# Python Join List
# Python join list means concatenating a list of strings to form a string. Sometimes it’s useful when you have to convert a list to string. For Example, convert a list to a comma separated string to save in a file.

In [226]:
my_foods = ['pizza', 'falafel', 'carrot cake']
my_foods_csv=",".join(my_foods)
print("my favorite foods are:",my_foods_csv)

my favorite foods are: pizza,falafel,carrot cake

# Python Remove Duplicates from the List
# you can remove the duplicate elements in the list by converting a list to a dictionary or by creating a new list and using for loop and if condition to append only the unique elements.

In [237]:
mylist = [4, 5, 6, 5, 4]
uniquelist=[]
for  elem in mylist:
    if elem not in uniquelist:
        uniquelist.append(elem)
print(uniquelist)

[4, 5, 6]

# print all the elements with while as well as for loop

In [243]:
mynums=[45,65,765,75,523,5,547,67345,474,65,46]

In [245]:
i=0
while i < len(mynums):
    print(mynums[i])
    i=i+1

45
65
765
75
523
5
547
67345
474
65
46

In [246]:
for i in mynums:
    print(i)

45
65
765
75
523
5
547
67345
474
65
46

# Write a program to accept five integers from the user , store them in a list . Display these integers and also display their sum

In [2]:
list=[]
tot=0
nums=int(input("Enter nums:"))

for i in range(0,nums):
    elt=int(input())
    list.append(elt)
    tot=tot + list[i]
    
print('List of elts:',list)
print('Sum of elts:',tot)

Enter nums: 5
 3
 4
 67
 45
 23

List of elts: [3, 4, 67, 45, 23]
Sum of elts: 142

In [7]:
list1=[]
nums=int(input("Enter nums:"))

for i in range(0,nums):
    elt=int(input())
    list1.append(elt)
    #tot=tot + list[i]
    sum(list1)
    
print('List of elts:',list1)
print('Sum of elts:',sum(list1))

Enter nums: 3
 2
 4
 5

List of elts: [2, 4, 5]
Sum of elts: 11

# Write a program to accept 5 unique integers from the user. Make sure if the integer being entered is already present in the list your code displays the message “Item already present” and ask the user to reenter the integer.

In [8]:
list1=[]
num=int(input('enter num'))
for i in range(0,num):
    num=int(input())
    if num not in list1:
        list1.append(num)
    else:
        print('item already present, please reenter another num')
        
print(list1)

enter num 3
 34
 34

item already present, please reenter another num

 54

[34, 54]

# Write a program to accept 2 lists from the user of 5 nos each . Assume each list will have unique nos Now find out how many items in these lists are common .

In [144]:
lst1=input('enter nums of lst1:')
list1=lst1.split()
print(list1)
lst2=input('enter nums of lst2:')
list2=lst2.split()
print(list2)
final=set(list1) & set(list2)
print(final)

enter nums of lst1: 1 2 3 4 5

['1', '2', '3', '4', '5']

enter nums of lst2: 6 7 8 9 10

['6', '7', '8', '9', '10']
set()

In [158]:
lst1=input('enter nums of lst1:')
list1=lst1.split()
set1=set(list1)
print(list1)
lst2=input('enter nums of lst2:')
list2=lst2.split()
set2=set(list2)
print(list2)
result=set1.intersection(set2)
print("Elements in common:",result)

enter nums of lst1: 1 2 3 4 5

['1', '2', '3', '4', '5']

enter nums of lst2: 6 7 8 9 10

['6', '7', '8', '9', '10']
Elements in common: set()

# Rewrite the previous code so that your code alos displays the items which are common in both the lists

In [159]:
lst1=input('enter nums of lst1:')
list1=lst1.split()
set1=set(list1)
print(list1)
lst2=input('enter nums of lst2:')
list2=lst2.split()
set2=set(list2)
print(list2)
result=set1.intersection(set2)
print(result)

enter nums of lst1: 1 2 3 4 5

['1', '2', '3', '4', '5']

enter nums of lst2: 1 2 3 6 7

['1', '2', '3', '6', '7']
{'1', '2', '3'}

In [165]:
spam=[2, 4, 6, 8, 10]
spam.insert(3,'hello')

[2, 4, 6, 'hello', 8, 10]

In [166]:
spam=['a', 'b', 'c', 'd']
spam[-1]

'd'

In [167]:
spam[:2]

['a', 'b']

In [168]:
spam[int(int('3' * 2) / 11)]

'd'

In [180]:
bacon=[3.14, 'cat', 11, 'cat' ,True]

In [181]:
bacon.index('cat')

1

In [182]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [183]:
bacon.remove('cat')

In [184]:
bacon

[3.14, 11, 'cat', True, 99]

In [185]:
list1=[1,2,3]
list2=[4,5,6]
res=list1 + list2
print(res)

[1, 2, 3, 4, 5, 6]

In [194]:
(42,)

(42,)

In [195]:
type((42,))

tuple

In [196]:
list=[1,2,3]
tuple(list)

(1, 2, 3)

# 10-1-23 List Comprehension

In [ ]:
list_comp=[X for x in iterable <test condition>]

In [ ]:
iterables:
list
tuple
string
set
dict

In [8]:
my_string='preeti motwani'

In [9]:
my_list=[]

In [10]:
for i in my_string:
    my_list.append(i)

In [11]:
my_list

['p', 'r', 'e', 'e', 't', 'i', ' ', 'm', 'o', 't', 'w', 'a', 'n', 'i']

In [12]:
[x for x in my_string]

['p', 'r', 'e', 'e', 't', 'i', ' ', 'm', 'o', 't', 'w', 'a', 'n', 'i']

# WAP tp produce square of number and store in list and print the list
1. using for loop
2. using List comprehension

In [16]:
sq_list=[]
for x in range(1,11):
    x=x**2
    sq_list.append(x)
print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Adv of list comprehension :
# To reduce time and space complexity , code complexity

# WAP to accept a string from user and convert each letter of given string in uppercase,store it in a list and print the list

In [20]:
str1=input('Enter a string:')
list1=[]
for i in str1:
    list1.append(i.upper())
print(str2)

Enter a string: preeti

['P', 'R', 'E', 'E', 'T', 'I']

In [21]:
str1=input('Enter a string:')
[i.upper() for i in str1]

Enter a string: preeti

['P', 'R', 'E', 'E', 'T', 'I']

In [22]:
"preeti motwani".split()

['preeti', 'motwani']

In [23]:
[x.upper() for x in my_string.split()]

['PREETI', 'MOTWANI']

# WAP to accept five integers from user and store them in a list. Display sum of elts and elt of list.

In [9]:
my_list1=[]
nums=input('enter 5 numbers:')
for x in nums.split():
    my_list1.append(int(x))
print(my_list1)
print(sum(my_list1))

enter 5 numbers: 1 2 3 4 5

[1, 2, 3, 4, 5]
15

# WAP to produce square of only odd nums btwn 1 to 50 and store them in list and print list using for loop and list comprehension

In [37]:
list3=[]
for i in range(1,51,2):
    list3.append(i*i)
print(list3)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [39]:
list4=[]
[list4.append(i*i) for i in range(1,51,2)]
print(list4)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

# Write a function to remove the vowel which accept the string as argument and return list with all vowels removed from string
# using for loop and list comprehension

In [9]:
import re
def rem_vow(string):
    return re.sub("['AEIOUaeiou']", '',string)

string = "My name is Preeti"
print(rem_vow(string))

My nm s Prt

In [16]:
def rem_vowel(string):
    list3=[]
    vowels = ['a','e','i','o','u']
    result = [letter for letter in string if letter.lower() in vowels]
    #result = ''.join(result)
    list3.append(result)
    print(list3)
 

string = "preeti is my name"
rem_vowel(string)

[['e', 'e', 'i', 'i', 'a', 'e']]

In [ ]:
list_comp=[X for x in iterable <test expression>]

In [ ]:
iterable:
list
tuple
dict
set
string

In [31]:
my_str='preeti motwani'

In [35]:
my_list=[]

In [36]:
for i in my_str:
    my_list.append(i)

In [37]:
my_list

['p', 'r', 'e', 'e', 't', 'i', ' ', 'm', 'o', 't', 'w', 'a', 'n', 'i']

In [38]:
[x for x in my_str]

['p', 'r', 'e', 'e', 't', 'i', ' ', 'm', 'o', 't', 'w', 'a', 'n', 'i']

# wap to accept a string from user and convert each word of the given string into upper case store it in a list and print that list.

In [44]:
var='Travel the world'
list=[]
for i in var:
    list.append(i.upper())
print(list)

['T', 'R', 'A', 'V', 'E', 'L', ' ', 'T', 'H', 'E', ' ', 'W', 'O', 'R', 'L', 'D']

In [50]:
mystring=input("enter the name")
[x.upper() for x in mystring.split()]

enter the name Travel the world

['TRAVEL', 'THE', 'WORLD']

In [51]:
mystring=input("enter the name")
[x.upper() for x in mystring]

enter the name Travel the world

['T',
 'R',
 'A',
 'V',
 'E',
 'L',
 ' ',
 'T',
 'H',
 'E',
 ' ',
 'W',
 'O',
 'R',
 'L',
 'D']

In [52]:
'preeti motwani'.split()

['preeti', 'motwani']

In [53]:
"1-2-3-4-5".split("-")

['1', '2', '3', '4', '5']

In [56]:
list1to50  = range(1,51)

for x in list1to50:
    if x %2 != 0:
        print(x**2)
list1to50  = range(1,51)

1
9
25
49
81
121
169
225
289
361
441
529
625
729
841
961
1089
1225
1369
1521
1681
1849
2025
2209
2401

In [57]:
[x**2 for x in list1to50 if x %2 != 0 ]

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

In [ ]:
itrabale: list,tuple,string,dict,set,range()

[x for x in itrable <test_condition>]

for reduce the code complexity
for reduce the time and space complexity
better use of this list comprehension with lambda function map function and filer function and reduce function