In [1]:
# Topics:
1. what is function?
2. how to write function in python?
3. argumnet vs parameter in function
------------------------------------------

4. local and global variable in function
5. lambda function
6. map and filter function

SyntaxError: invalid syntax (1054454585.py, line 4)

In [26]:
a=10
b=20
c=a+b
print(c)

30

In [27]:
a=10
b=20
c=a-b
print(c)

-10

In [28]:
a=input("enter first number")
b=input("enter second value")
c=int(a)+int(b)
print(c)

enter first number 12
enter second value 23

35

In [30]:
# Function Definition
def addtwonums():
    a=input("enter first number")
    b=input("enter second value")
    c=int(a)+int(b)
    print(c)

In [31]:
# FUnction call
addtwonums()

enter first number 12
enter second value 45

57

In [32]:
addtwonums()

enter first number 45
enter second value 67

112

In [33]:
#this is funciton defination
def addtwonumber():
    a=1000
    b=2009042
    c=a+b
    print(c)

In [34]:
addtwonumber()

2010042

In [35]:
addtwonumber()

2010042

In [36]:
def multwonums(x,y):
    a=x
    b=y
    c=a*b
    print(c)

In [37]:
multwonums(4,5)

20

In [38]:
multwonums(34,5)

170

In [39]:
A=int(input("enter first number"))
B=int(input("enter second number"))
multwonums(A,B)

enter first number 1
enter second number 2

2

In [40]:
# OR
def multwonums():
    A=int(input("enter first number"))
    B=int(input("enter second number"))
    c=A*B
    return c

In [41]:
multwonums()

enter first number 23
enter second number 5

115

# Write a function called absolute( ) to accept an integer as argument and return itâ€™s absolute value. Finally call it to get the absolute value of -7 and 9

In [42]:
def absolute(n):
    return abs(n)

In [43]:
absolute(-7)

7

In [44]:
absolute(9)

9

In [45]:
absolute(-456)

456

In [46]:
# OR
def absolute(n):
    if n>0:
        return n
    else:
        return -n

In [47]:
absolute(-56)

56

In [48]:
val=int(input('enter num:'))
absolute(val)

enter num: -23

23

In [49]:
def addtwonumber():
    a=1000
    b=2009042
    c=a+b
    print(c)

In [50]:
myvar=addtwonumber()

2010042

In [51]:
print(myvar)

None

In [ ]:
1. function defination # fn body
2. function calling  # fn call to body to get result
3. argument # provide val in fn call
4. parameter # provide var in fn def
5. function return concept # return result thru print also 
7. return multiple values # passing mult values in arg n parameters

# print() will give result when we use return in fn def

In [52]:
def fullname(a,b):       # agrs acceptance by function ie a,b ie parameters
    c=a+b
    return c

In [53]:
fullname('preeti','motwani')  # passing args

'preetimotwani'

In [54]:
myvar=fullname('preeti','motwani')

In [55]:
myvar

'preetimotwani'

In [56]:
print(myvar)

preetimotwani

In [57]:
def addtwonums():
    a=34
    b=56
    c=a+b
    return a,b,c

In [58]:
addtwonums()

(34, 56, 90)

In [59]:
myvar=addtwonums()

In [60]:
myvar

(34, 56, 90)

In [61]:
a_val,b_val,c_val=addtwonums()

In [62]:
print(a_val,b_val,c_val,sep=' ')

34 56 90

# call the factorial() function to calculate and return the factorial of the number given by the user.

In [ ]:
factorial is 5!= 5*4*3*2*1 = 120

In [63]:
def factorial(n):
    fact=1
    for i in range(n): # i=5 ,4, 3 , 2,1
        fact=fact*n # fact=1*5=5, 5*4=20, 20*3=60 ,60*2=120, 120*1=120
        n=n-1 # n=4 ,3, 2, 1
    return fact  # 120

In [64]:
factorial(5)

120

In [65]:
number=int(input("write any number"))
mynum=factorial(number)
print(mynum)

write any number 34

295232799039604140847618609643520000000

In [66]:
# OR using while loop
def factorial(n):
    fact=1
    while n>1:
        fact=fact*n
        n=n-1
    return fact

In [67]:
factorial(8)

40320

# positional args
# keyword args
# default args

In [68]:
#positional arguments
def nos(a,b,c,d):
    return a*b*c*d

In [69]:
nos(10,20,30,40)

240000

In [70]:
#keyword arguments
def nos(a,b,c,d):
    return a*b*c*d

In [71]:
mynums=nos(a=10,b=20,d=40,c=30)

In [72]:
print(mynums)

240000

In [73]:
#default arguments
def nos(a,b,d,c=0):
    return a*b*c*d

In [74]:
nos(1,2,d=4)

0

In [75]:
def nos(a,b,d,c=0):
    return a+b+c+d

In [76]:
nos(1,2,6)

9

# variable length argument

In [77]:
def nos(a,b,c,d):
    return a*b*c*d

In [78]:
def nos(a,b,c,d,e):
    return a*b*c*d*e

In [79]:
nos(1,2,3,4,5)

120

In [80]:
def nos(a,b,c,d,e,f):
    return a*b*c*d*e*f

In [81]:
nos(10,20,30,40,50)

TypeError: nos() missing 1 required positional argument: 'f'

In [82]:
def nos(*a):
    print(type(a))
    mul=1
    for i in a:
        mul=mul*i
    return mul

In [83]:
nos(1,2,3,4)

<class 'tuple'>

24

In [84]:
nos(23,45,32,78,56,3,4,2)

<class 'tuple'>

3472035840

# python does not support function overloading

# it will always take recent defination

In [85]:
def attach(s1,s2):
    s3=s1+s2
    print("Joined String is:",s3)
	
attach("Good","night")

Joined String is: Goodnight

In [86]:
def grocery(name,price):
    print("Item is",name,"It's price is",price)
	
grocery(150,"Butter")

Item is 150 It's price is Butter

In [87]:
def grocery(name,price):
    print("Item is",name,"It's price is",price)
	
grocery(price=150,name="Butter")

Item is Butter It's price is 150

In [88]:
def greet(name,msg="Good Morning"):
    print("Hello",name,msg)
	
greet("Sachin")

Hello Sachin Good Morning

In [89]:
def greet(name ,msg="Good Morning"):
    print("Hello",msg,name)
	
greet("Sachin")

Hello Good Morning Sachin

In [90]:
def greet(msg="Good Morning",name):  # always defsult args should be last parameter
    print("Hello",name,msg)
	
greet("Sachin")

SyntaxError: non-default argument follows default argument (485281079.py, line 1)

In [91]:
def greet(name ,msg="Good Morning"):
    print("Hello",name,msg)

In [92]:
 greet("Amit","How are you?")

Hello Amit How are you?

# Write a function called cal_area( ) using default argument concept which accepts radius and pi as arguments and calculates and displays area of the Circle. The value of pi should be used as default argument and value of radius should be accepted from the user

In [93]:
def cal_area(radius,pi=3.14):
    area_of_circle= pi * radius *radius
    return round(area_of_circle,3)

In [94]:
radius=int(input('enter radius'))
cal_area(radius)

enter radius 2

12.56

In [95]:
def addnos(a,b):
	c=a+b
	return c

def addnos(a,b,c):
	d=a+b+c
	return d

In [96]:
print(addnos(10,20))  # case of function overloading that does not work in python

TypeError: addnos() missing 1 required positional argument: 'c'

# Write a function called find_largest( ) which accepts multiple strings as argument and returns the length of the largest string

In [97]:
def find_largest():
    aa=[]
    val=input('enter string:').split(' ')
    for i in val:
        print(i)
        aa.append(len(i))
    return max(aa)

In [98]:
find_largest()

enter string: preeti rishi

preeti
rishi

6

In [99]:
def findlargest(*names):
	max=0
	for s in names:
		if len(s)>max:
			max=len(s)
	return max
print(findlargest("January","February","March"))

8

In [5]:
def find_largest(a,b,c):
      x =len(a)
      y =len(b)
      z =len(c)
      if x>y and x>z:
        return x
      elif y>x and y>z:
        return y
      else:
        return z

In [6]:
find_largest('preeti','rishi','john')

6

In [7]:
def find_largest():
    a=input("Enter the firsst string = ")
    b=input("Enter the second string = ")
    c=input("Enter the third string = ")
    
    if (len(a)>len(b) and len(a)> len(c)):
        return a,len(a)
    elif (len(b)>len(c) and len(b)> len(a)):
        return b,len(b)
    else:
        return c,len(c)

In [8]:
find_largest()

Enter the firsst string =  preeti rishi
Enter the second string =  disha
Enter the third string =  rohit

('preeti rishi', 12)

In [9]:
def addnos(*a,*b):  # no multi args with * only 1 arg is psbl
    print(a)
    print(b)

SyntaxError: invalid syntax (1844194619.py, line 1)

In [100]:
def show(a,b,c=3,d=4):
    print(a,b,c,d)

show(10,20)

10 20 3 4

In [101]:
def show(a,b,c=3,d=4):
    print(a,b,c,d)

show(10,20,30,40)

10 20 30 40

In [102]:
def show(a,b,c=3,d=4):
    print(a,b,c,d)

show(d=10,a=20,b=30)

20 30 3 10

In [103]:
def show(a,b,c=3,d=4):
    print(a,b,c,d)

show()

TypeError: show() missing 2 required positional arguments: 'a' and 'b'

In [104]:
def show(a,b,c=3,d=4):
    print(a,b,c,d)

In [105]:
show(c=30,d=40,10,20)

SyntaxError: positional argument follows keyword argument (3941129283.py, line 1)

In [106]:
def show(a,b,c=3,d=4):
    print(a,b,c,d)

show(30,40,b=15)

TypeError: show() got multiple values for argument 'b'

In [107]:
def test(a):
    try:
        print(a/10)
    except:
        print("dont write string")

In [108]:
test("priya")

dont write string

# Scope of the variable (local,global)

In [109]:
def test():
    pass

In [110]:
test()

In [ ]:
1. positional argumnet
2. default argument
3. keyword argumnet
4. variable length argument

In [111]:
s='i love python'
def func():
    print(s)
    
func()  # function call

i love python

In [113]:
s='i love python'
def func():
    print(s)

In [114]:
def f():
    print(x)
x='i love coffee' # global variable
f()

i love coffee

In [115]:
def f():
    print(y)
f()
y='i love tea'

NameError: name 'y' is not defined

In [116]:
def test():
    name='preeti'  # local variable
    print(name)
test()
print(name)

preeti
<function <lambda> at 0x7f50cc0928c0>

# local variable: it is a variable which we are defining in the function and the scope will be in the function only
# global variable: global variable is a variable which we are defining outside of the funciton and the scope will be global

In [117]:
a='i love city'
def f():
    a='i love to travel'
    print(a)
f()
print(a)

i love to travel
i love city

In [118]:
def f():
    global a
    a='i love coffee'
    print(a)
f()
print(a)

i love coffee
i love coffee

In [119]:
a='i love tea'
def f():
    global a
    a='i love coffee'
    print(a)
f()
print(a)

i love coffee
i love coffee

In [120]:
a='i love python'
def f():
    global b
    global c
    b='i love ML'
    c='i love DS'
    print(a)
f()
print(a)
print(b)
print(c)

i love python
i love python
i love ML
i love DS

In [121]:
myvariable="i love python"
def f():
    global myvariable
    myvariable="my name is preeti and i am from mumbai"
    print(myvariable)
f()
print(myvariable)

my name is preeti and i am from mumbai
my name is preeti and i am from mumbai

In [122]:
s="i am good in programming"
def code():
    global s
    print(s) # outside var 
    s="i love coding" 
    print(s)
code()
print(s)

i am good in programming
i love coding
i love coding

In [123]:
s="i am good in programming"
def code():
    global s
    #print(s) # outside var 
    s="i love coding" 
    print(s)
code()
print(s)

i love coding
i love coding

In [124]:
s="i am good in programming"
def code():
    # global s
    # print(s) # outside var 
    s="i love coding" 
    print(s)
code()
print(s)

i love coding
i am good in programming

In [125]:
# it is homework
def foo(x, y):
    global a
    a = 42
    x,y = y,x
    b = 33
    b = 17
    c = 100
    print(a,b,x,y)

a, b, x, y = 1, 15, 3,4 
foo(17, 4)
print(a, b, x, y)

42 17 4 17
42 15 3 4

# Map and filter functions

In [126]:
def add(a,b):
    return a+b

In [127]:
add(10,23)

33

In [128]:
# lambda function
print((lambda a,b:a+b)(2,3))

5

In [129]:
mylambdafunciton=lambda a,b:a+b

In [130]:
mylambdafunciton(12,34)

46

In [131]:
type(mylambdafunciton)

function

In [132]:
print(mylambdafunciton)

<function <lambda> at 0x7f50b54cac20>

# wap to take two value from user and find a squre of these values and use lambda funciton for this operation.

In [133]:
a=int(input('enter first num:'))
b=int(input('enter sec num:'))
square=lambda a,b:(a**2,b**2)
print(square(a,b))

enter first num: 1
enter sec num: 2

(1, 4)

# Write a lambda function that returns the first character of the string passed to it as argument

In [134]:
abc=input('enter a word')
print(abc)
print((lambda abc:abc[0])(abc))

enter a word preeti

preeti
p

In [135]:
abc=input('enter a word')
string=lambda abc:abc[len(abc)-1]
print(string(abc))

enter a word preeti

i

# Write a lambda function that returns True or False depending on whether the number passed to it as argument is even or odd

In [136]:
def evenorodd(n):
    if n%2==0:
        print('num is even')
    else:
        print('num is odd')

In [137]:
evenorodd(56)

num is even

In [138]:
evenorodd(45)

num is odd

In [139]:
evenorodd=lambda n:n%2!=0

In [140]:
evenorodd(54)

False

In [141]:
evenorodd=lambda n:'True' if n%2==0 else 'False'

In [142]:
evenorodd(43)

'False'

# Write a lambda function that accepts 2 arguments and returns the greater amongst them

In [143]:
greatest_num=lambda a,b: a if a>b else b

In [144]:
greatest_num(10,2)

10

In [ ]:
map(funct,itrable)

itrable=string,list,tuple,set,dict,range

In [145]:
def square(n):
    return n**2
mylist=[1,2,3,4,5]
for i in mylist:
    print(square(i))

1
4
9
16
25

In [146]:
def square(n):
    return n**2
mylist=[1,2,3,4,5]
list(map(square,mylist))

[1, 4, 9, 16, 25]

# Write a function called inspect( ) that accepts a string as argument and returns the word EVEN if the string is of even length and returns itâ€™s first character if the string is of odd length
# Now call this function for first 3 month names
# write it with map fuction

In [147]:
def inspect(mystring):
    if len(mystring)%2==0:
        return 'EVEN'
    else:
        return mystring[0]
    
mylist=['January','February','March']
list(map(inspect,mylist))

['J', 'EVEN', 'M']

In [ ]:
map(funct,itrable)

In [ ]:
filter(funct,itrable)
# it is filter out the values

In [148]:
mylist=[1,2,3,4,5,6,7,8,9,10]
# i want to filter only even number

In [149]:
def check_even(n):
    return n%2==0
mylist=[1,2,3,4,5,6,7,8,9,10]
for i in mylist:
    if check_even(i):
        print(i)

2
4
6
8
10

In [ ]:
def check_even(n):
    return n%2==0
mylist=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
list(map(check_even,mylist))

In [ ]:
list(filter(check_even,mylist))

# write same logic with lambda

In [10]:
mylist=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda n:n**2,mylist))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Write a lambda expression that accepts a string as argument and returns itâ€™s first character
# Now use this lambda expression in map( ) function to work on for first 3 month names

In [13]:
list(map(lambda string: string[0] if len(string)%2==0 else 'ODD', ['January','February','March']))

['ODD', 'F', 'ODD']

In [15]:
list(map(lambda string: 'EVEN' if len(string)%2==0 else 'ODD', ['January','February','March','November','December']))

['ODD', 'EVEN', 'ODD', 'EVEN', 'EVEN']

# Write a lambda expression that accepts a character as argument and returns True if it is a vowel otherwise False

# Now ask the user to input his/her name and display only the vowels in the name . In case the name does not contain any vowel display the message No vowels in your name

In [16]:
name=input('Enter your name')
vowels=filter(lambda ch:ch in 'aeiou',name)
mylist=list(vowels)

if len(mylist)==0:
    print('there is no vowel in your name')
else:
    print('there is a vowel in your name',mylist)

Enter your name preeti

there is a vowel in your name ['e', 'e', 'i']

In [17]:
for x in "preeti":
    if x in "aeiou":
        print(x)
    else:
        pass

e
e
i

In [18]:
name = lambda string:string if ["a","e","o","u","i","Ã¶","Ã¼"] in string else "no wovels"
name("nese")

TypeError: 'in <string>' requires string as left operand, not list

In [21]:
s=input('enter nme')
list(map(lambda x:x if x in 'AEIOUaeiou' else 'No vowel',s))

enter nme preeti

['No vowel', 'No vowel', 'e', 'e', 'No vowel', 'i']

In [23]:
import time
#time.start()
#time.stop()
count=0
def first():
    pass
def second():
    pass

In [24]:
def test():
    for i in [1,2,3,4,5,6,7,8,9,10]:
        #print(i)
        return i

In [25]:
test()

1